# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Конфигурационные файлы с секретами
config.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.bat

# Fly.io
.fly/
